/* BUTTON */

.btn{

display:inline-block;
padding:14px 20px;
margin: 20px 0px 20px 0px;
background:var(--primary);
color:white;
border-radius:6px;
text-transform: uppercase;
font-weight:600;
text-align:center;
width:100%;

}

.btn:hover{

background:#c94b10;
}

/* SERVICE CARD */

.service-card{

background:white;
border-radius:8px;
overflow:hidden;

display: flex;
flex-direction: column;
height: 100%;
justify-content: end;

box-shadow:0 8px 20px rgba(0,0,0,0.08);

}

.service-card:hover{
transform: scale(1.05);
box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

.service-card img{

height:200px;
object-fit:cover;

}

.service-content{

padding:18px;

}

.price{

background:var(--primary);
color:white;
padding:10px;
text-align:center;
font-weight:600;

}

/* TESTIMONIAL */

.testimonial{

background:white;
padding:20px;
border-radius:8px;

box-shadow:0 5px 15px rgba(0,0,0,0.08);

}

.testimonial-user{

display:flex;
align-items:center;
gap:10px;
margin-bottom:10px;

}

.testimonial-user img{

width:40px;
height:40px;
border-radius:50%;

}

/* CONTACT FORM */

.contact-form{
background: rgba(1, 1, 1, 0.3);
display: flex;
flex-direction: column;
gap: 16px;
padding:20px;
border-radius:8px;
width: 100%;
}


.contact-form input,
.contact-form textarea{

width:100%;
padding:16px;
margin-bottom:12px;
border:none;
border-radius:4px;
background: rgba(255, 255, 255, 0,08);
color: black;
font-size: 16px;
box-sizing: border-box;

}

.contact-form textarea{
resize: none;
}

.contact-form button.btn {
border: 2px solid #c94b10;
background-color: transparent;
font-size: 15px;
font-weight: bold;
cursor: pointer;
width:100%;
padding: 12px;
}

.contact-form button.btn:hover{
    background:#c94b10;
}

/* PHONE CTA */

.phone-cta{

display: inline-block;

background:var(--primary);
color:white;

padding: 12px 60px;
border-radius:6px;

text-align:center;
font-size:20px;
font-weight:600;
text-decoration: none;

white-space: nowrap;

}

.phone-cta:hover{

background-color:#c94b10;
}

.logo {
display: flex;
align-items: center;
}

.logo img{
    height: 80px;
    width: auto;
    display: block;
    margin-right: 20px;
}

