/* HEADER */

header{
position: absolute;
width: 100%;
display: flex;
background: transparent;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 0;
}

.nav-menu{
display:none;
white-space: nowrap;
margin: 0px 20px 0px 20px;
}

/* HERO */

.hero{

background-image: url("../assets/images/phototech.png");
background-position: top right;
background-repeat: no-repeat;
height: 400px;
background-size: cover;

color:white;
padding:70px 0;

display: flex;
padding-top: 200px;
box-shadow:0 2px 8px rgba(9, 9, 9, 0.1);

}

.hero-content{ /*a modif ici*/
max-width:600px;
}

/* FEATURES */

.features{

margin-top:20px;
display:flex;
flex-direction:row;
justify-content:space-between;
gap:15px;

background:white;
padding:20px;
border-radius:8px;
box-shadow:0 8px 25px rgba(0,0,0,0.08);

}

.feature{
display: flex;
flex-direction: column;
text-align:center;
}

.feature img{
height: 60px;
}

/* SERVICES */

.services{
padding:50px 0;
}

.services-grid{

display:grid;
grid-template-columns:1fr;
gap:20px;

}

/* ZONE */

.zone{
padding:50px 0;
}

.zone-content{

display:flex;
flex-direction:column;
gap:25px;

}

/* TESTIMONIALS */

.testimonials{
padding:50px 0;
}

.testimonial-grid{

display:grid;
grid-template-columns:1fr;
gap:20px;

}

/* CONTACT */

.contact{
padding:60px 0;
background:#222;
color:white;
}

.contact-wrapper{

display:flex;
flex-direction:column;
gap:30px;

}

/* FOOTER */

footer{
background:#111;
color:#aaa;
text-align:center;
padding:20px;
font-size:14px;
}

