/* TABLET */

@media (min-width:768px){

.container{
width:90%;
}

.nav-menu{
display:flex;
gap: 30px;
}


.services-grid{
grid-template-columns:repeat(2,1fr);
}

.testimonial-grid{
grid-template-columns:repeat(2,1fr);
}

h1{
font-size:42px;
white-space: nowrap;
}

.hero{
height: 600px;
padding:120px 0;
}

.features{
flex-direction:row;
justify-content:space-around;
align-items: center;
}

.feature{
display: flex;
flex-direction: row;
text-align:start;
white-space: nowrap;
}

.feature img{
height: 60px;
}

.txt-feature{
padding-left: 20px;
}

.zone-content{
flex-direction:row;
}

.contact-wrapper{
flex-direction:row;
}

.btn{
width: auto;
}

}

/* DESKTOP */

@media (min-width:1024px){

.container{
max-width:1800px;
}

.hero{
padding:120px 0;
}

.nav-menu{
display:flex;
gap: 80px;
}

.nav-menu a{
font-size: 18px;
}

.services-grid{
grid-template-columns:repeat(3,1fr);
}

.testimonial-grid{
grid-template-columns:repeat(3,1fr);
}

}