/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: "Segoe UI", Arial, sans-serif;
background-image: url(../assets/images/background-light.webp);
background-repeat: repeat;
background-size: 1260px auto;
background-color: var(--light);
color:#333;
line-height:1.6;
}

/* VARIABLES */

:root{

--primary:#e65c1c;
--dark:#1c1c1c;
--light:#ffffff;
--grey:#f1f1f1;

}

/* CONTAINER */

.container{
width: 92%;
margin:auto;
}

/* TITRES */

h1{
font-size:38px;
font-weight:700;
}

h2{
font-size:24px;
margin-bottom:20px;
text-align: center;
}

h3{
font-size:20px;
white-space: wrap;
}

p{
font-size:15px;
}

/* LIENS */

a{
text-decoration:none;
color:inherit;
}

/* IMAGES */

img{
width:100%;
display:block;
}

