/* RESET */

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

body{
    font-family: "Segoe UI", Arial, sans-serif;
    background-image: url(../assets/images/background-light.webp);
    background-repeat: repeat;
    background-size: 1260px auto;
    background-color: var(--light);
    color:#333;
    line-height:1.6;
}


/* VARIABLES */

:root{

    --primary: #e89152;
    --secondary: #e15422;
    --tertiary: #8c3c1a;
    --dark:#1c1c1c;
    --light:#ffffff;
    --grey:#f1f1f1;
    --text-main: #2d3436;
    --text-muted: #636e72;
    --bg-color: #fcfcfc;
    --card-bg: #ffffff;
    --radius: 6px;
    --shadow-soft: 0 8px 24px rgba(0, 0, 0, 0.06);
    --shadow-hover: 0 12px 32px rgba(0, 0, 0, 0.1);
    --google-yellow: #FBBC05;
}

/* CONTAINER */

.container{
    width: 92%;
    margin:auto;
}

/* BODY */


/* TITRES */

h1{
    font-size: 24px;
    font-weight: bold;
}

h2{
    font-size:20px;
    margin-bottom:20px;
    text-align: center;
    text-wrap: nowrap;
}

h3{
    font-size:18px;
    white-space: wrap;
}

p{
    font-size:15px;
}

/* LIENS */

a{
    text-decoration:none;
    color:inherit;
}

/* IMAGES */

img{
    width:100%;
    display:block;
}

